{% extends "layout.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ messages [0] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endwith %}
    <div class="container">
        <h1 class="mb-4">Student Information</h1>
        <div class="row mb-4">
            <div class="col-9">
                <form action="{{ url_for('student.student_search') }}" method="GET" class="input-group">
                    <input name="query" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" value="{{query}}">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <div class="col-3">
                <button class="btn btn-success w-100 btn-block" data-bs-toggle="modal" data-bs-target="#addStudentModal">Add Student</button>
            </div>
        </div>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Course Code</th>
                    <th>Year Level</th>
                    <th>Gender</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.student_id }}</td>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.course_code }}</td>
                    <td>{{ student.year_level }}</td>
                    <td>{{ student.gender }}</td>
                    <td>
                        <button 
                            id="update-student"
                            class="btn btn-primary"
                            data-student-id="{{ student.student_id }}"
                            data-first-name="{{ student.first_name }}"
                            data-last-name="{{ student.last_name }}"
                            data-course-code="{{ student.course_code }}"
                            data-year-level="{{ student.year_level }}"
                            data-gender="{{ student.gender }}"
                            >Edit</button>

                        <button
                        data-student-id="{{ student.student_id }}"
                        id="confirmDeleteButton" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            Delete
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

    <!-- Modal for Adding Student -->
    <div class="modal fade" id="addStudentModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <form method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addStudentModalLabel">Add Student</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Form for Adding Student Data -->
                        <div class="image-wrapper" style="width: 200px; height: 200px; position: relative; left: 50%; transform: translateX(-50%); border-radius: 50%; border: solid rgba(191, 94, 29, 0.523); overflow: hidden;">
                            <label for="file-input" style="cursor: pointer; display: block; width: 100%; height: 100%;">
                                <img src="{{ student_url or url_for('static', filename='download.jpg') }}" alt="Shop Photo" id="preview-image" class="circle-image" style="width: 100%; height: 100%; object-fit: cover;">
                                <div class="overlay-text" style="font-size: 20px;">Upload Photo</div>
                            </label>
                            <input type="file" id="file-input" style="display: none;" accept="image/*" onchange="previewImage(event)" required>
                            <input id="student_url" name="student_url" hidden />
                        </div>

                        <div class="form-group">
                            <label for="student_id">Student ID</label>
                            <input name="student_id" type="text" class="form-control" id="student_id">
                        </div>
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input name="first_name" type="text" class="form-control" id="first_name">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input name="last_name" type="text" class="form-control" id="last_name">
                        </div>
                        <div class="form-group">
                            <label for="course_code">Course</label>
                            <select name="course_code" class="form-control" id="course_code" required>
                                <option value="" disabled selected>--Select Course Code--</option>
                                {% for course in courses %}
                                    <option value="{{ course.course_code }}">{{ course.course_code }}</option>
                                {% endfor %}
                            </select>   
                        </div>                     
                        <div class="form-group">
                            <label for="year_level">Year Level</label>
                            <select name="year_level" class="form-control" id="year_level">
                                <option value="" disabled selected>--Select Year Level--</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <select name="gender" class="form-control" id="gender">
                                <option value="" disabled selected>--Select Gender--</option>
                                <option value="Male ">Male </option>
                                <option>Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal for Updating Student -->
    <div class="modal fade" id="updateStudentModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <form method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="updateStudentModalLabel">Update Student</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="student_id">Student ID</label>
                            <input name="student_id" type="text" class="form-control" id="student_id">
                        </div>
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input name="first_name" type="text" class="form-control" id="first_name">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input name="last_name" type="text" class="form-control" id="last_name">
                        </div>
                        <div class="form-group">
                            <label for="course_code">Course</label>
                            <select name="course_code" class="form-control" id="course_code" required>
                                <option value="" disabled>--Select Course Code--</option>
                                {% for course in courses %}
                                    <option value="{{ course.course_code }}">{{ course.course_code }}</option>
                                {% endfor %}
                            </select>   
                        </div>                     
                        <div class="form-group">
                            <label for="year_level">Year Level</label>
                            <select name="year_level" class="form-control" id="year_level">
                                <option value="" disabled>--Select Year Level--</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <select name="gender" class="form-control" id="gender">
                                <option value="" disabled>--Select Gender--</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="submit-button">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <!-- Modal for Deleting Student -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Student</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <p>
                    Are you sure you want to delete this?
                </p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="confirmDeleteButton" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="deleteStudent()">
                Delete
                </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            populateDeleteCode()
        })

        const deleteModal = document.getElementById("deleteModal");
        const deleteAnywayButton = deleteModal.querySelector(".btn-danger");

        function populateDeleteCode() {
            const deleteButtons = document.querySelectorAll("#confirmDeleteButton");
            deleteButtons.forEach((button) => {
                const studentid = button.dataset.studentId;
                button.addEventListener("click", () => {
                    deleteAnywayButton.dataset.studentId = studentid;
                });
            });
        }

        function deleteStudent() {
            const studentid = deleteAnywayButton.dataset.studentId;
            fetch("/student/delete/" + studentid, {
                method: "DELETE"
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload()
                }
            })
        }

            const updateModalDiv = document.getElementById("updateStudentModal");
            var updateModal = new bootstrap.Modal(updateModalDiv, {});
        
            const updateButtons = document.querySelectorAll("#update-student");
            updateButtons.forEach((button) => {
                const studentid = button.dataset.studentId;
                const firstName = button.dataset.firstName;
                const lastName = button.dataset.lastName;
                const courseCode = button.dataset.courseCode;
                const yearLevel = button.dataset.yearLevel;
                const gender = button.dataset.gender;
                button.addEventListener("click", () => {
                    updateModal.show();
                    updateModalDiv.querySelector("form").action = "/student/update/" + studentid;
                    updateModalDiv.querySelector("input[name='student_id']").value = studentid;
                    updateModalDiv.querySelector("input[name='first_name']").value = firstName;
                    updateModalDiv.querySelector("input[name='last_name']").value = lastName;
                    const courseSelect = updateModalDiv.querySelector("select[name='course_code']")
                    for (const option of courseSelect.options) {
                        if (option.value === courseCode) {
                            option.selected = true;
                            break;
                        }
                    }
                    const yearLevelSelect = updateModalDiv.querySelector("select[name='year_level']")
                    for (const option of yearLevelSelect.options) {
                        if (option.value === yearLevel) {
                            option.selected = true;
                            break;
                        }
                    }
                    const genderSelect = updateModalDiv.querySelector("select[name='gender']")
                    for (const option of genderSelect.options) {
                        if (option.value === gender) {
                            option.selected = true;
                            break;
                        }
                    }
                });
            });
            
            const preview = document.getElementById('preview-image');
            const submitButton = document.getElementById('submit-button');

            async function previewImage(event) {    
                const file = event.target.files[0];
                const formData = new FormData();
                formData.append("upload", file);

                const response = await fetch("{{ url_for('student.student_dashboard') }}", {
                    method: "POST",
                    body: formData,
                });

                const data = await response.json();

                if (data && data.is_success) {
                    const studentImageUrlInput = document.querySelector("[name='upload_student_image']");
                    studentImageUrlInput.value = data.url;
                }

                const reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                    submitButton.style.display = 'block'; // Show the submit button
                };

                reader.readAsDataURL(file);
            
            }
            
    </script>
{% endblock content %}
